/****************ARTICLE***************/
article {
  margin:0 auto 15rem;
  width:75%;
  padding-top:22.3rem;
}
.pagetype-article article header {
  position:relative;
  background-color:transparent;
  padding:0;
  display:flex;
  align-items:flex-end;
  justify-content:space-between;
}
article img.top_image {
  width:61%;
  height:auto;
  margin:0 auto 4rem;
  display:block;
}
article .video_wrapper {
  width:61%;
  margin:0 auto 4rem;
}
article .video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
article .video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
article .article_info {
  width:60%;
}
article time,
article .article_info small {
  font-size:1.4rem;
  text-transform:uppercase;
  font-weight:bold;
  color:#333;
  display:block;
  margin-bottom:2rem;
  font-family:'Museo-Sans', Helvetica, Arial, sans-serif;
  font-weight:700;
}
article .article_info h1,
.archive article h2 {
  font-size:2.8rem;
  color:#333;
  font-family:'Archer-Medium', Courier, serif;
}

article .article_info small {
  color:#333;
  margin:1rem 0 0 0;
  text-transform:none;
}

article .wp-post-image {
  width:auto;
  max-width:9.5rem;
  height:auto;
}
article .entry {
  clear:both;
}
article .entry p {
  font-size:1.4rem;
  line-height:2.3rem;
  color:#333;
  margin:2.5rem 0 1.5rem;
  font-family:'Museo-Sans', Helvetica, Arial, sans-serif;
  font-weight:100;
}
article .entry p:first-child {
  margin-top:4.5rem;
}
article .entry p:last-of-type {
  margin-bottom:2.5rem;
}
article .share_tools {
  width:100%;
}
article .share_tools a,
article .share_tools span {
  font-size:1.4rem;
  color:#bdb38e;
  display:inline-block;
  font-family:'Archer-Book', Courier, serif;
}
article .share_tools a.original {
  margin-right:2.5rem;
  border-right: 1px solid #bdb38e;
  padding-right: 2.5rem;
}
article .share_tools a.original:last-child {
  border-left: 1px solid #bdb38e;
  border-right: none;
  margin-right:0;
  padding-right:0;
  padding-left:2.5rem;
}
article .share_tools span {
  margin-right:2.5rem;
}
article .share_tools .social {
  display:inline;
  vertical-align:-3px;
}

/************* ipad & iphone 6+ ************/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px), only screen and (min-device-width : 414px) and (-webkit-device-pixel-ratio: 3), only screen and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) {
  .share_tools .social .social_icon {
    height: 2rem;
    vertical-align: 5px;  
  }
  .share_tools .social .social_icon#twitter {
      background-position: -4.1rem 0;
      width: 2.3rem;
  }
  .share_tools .social .social_icon#facebook {
      background-position: -2.4rem 0;
      width: 1.2rem;
  }
  .share_tools .social .social_icon#link {
      background-position: -12.8rem 0;
      width: 2.8rem;
  }
  article .article_info {
    display:inline-block;
    width:80%;
  }
  article .wp-post-image {
    display:inline-block;
  }
  
}
/************* ipad portrait and iphone 6+ ************/
@media only screen and (max-width : 768px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation:portrait), only screen and (min-device-width : 414px) and (-webkit-device-pixel-ratio: 3){
  .share_tools .social .social_icon {
    height: 2rem;
    vertical-align: 5px; 
    margin-right:4rem; 
  }
  article .entry p {
    font-size:1.7rem;
    line-height:2.6rem;
  }
  article .share_tools a, 
  article .share_tools span {
    font-size:1.7rem;
  }
}
/************* small desktop ************/
@media only screen and (max-width : 768px) {
  article {
    width:88%;
  }
  .share_tools .social .social_icon {
    vertical-align:-2px;
    margin-right:1rem;
  }
  .share_tools .social .social_icon#twitter {
    background-position:-3.9rem 0;
  }
  .share_tools .social .social_icon#facebook {
    background-position:-2.4rem 0;
  }
  .share_tools .social .social_icon#link {
    background-position:-12.9rem 0;
    width:2.7rem;
    margin-right:2.5rem;
  }
}
/************* iphone************/
@media only screen and (max-width: 667px), only screen and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) {
  article {
    padding-top:15rem;
    width:85%;
  }
  article img.top_image {
    width:70%;
    margin-bottom:6rem;
  }
  article .article_info {
    width:100%;
    text-align:center;
  }
  article time {
    margin-bottom:1rem;
    font-size:1.6rem;
  }
  article h1 {
    font-size:3rem;
  }
  article .wp-post-image {
    width:30%;
    height:auto;
    margin:3rem auto 4rem;
    display:block;
    max-width:100%;
  }
  article .entry p {
    font-size:1.6rem;
    line-height:2.5rem;
    text-align:left;
  }
  article .entry p:first-child {
    margin-top:0;
  }
  article .entry p:last-of-type {
    margin-bottom:5rem;
  }
  article .share_tools a.original,
  article .share_tools span,
  article .share_tools a.original:last-child {
    display:block;
    font-size:1.8rem;
    text-align:center;
    border:none;
    padding:0;
    margin-right:0;
  }
  article .share_tools a {
    margin-bottom:2rem;
  }
  article .share_tools span {
    margin-bottom:1rem;
  }
  article .share_tools .social {
    text-align:center;
    width: 100%;
    display:block;
  }
  article .share_tools .social #link {
    margin-right:0;
  }
  
}











