/****************DOWNLOAD MODULE***************/
.download {
  border-top:1px solid #e8e6e2;
  padding:7rem 0;
}
.download .download_link {
  background:url('../images/appstore@2x.png') 0 0 no-repeat;
  background-size:contain;
  width:24.4rem;
  height:8.2rem;
  display:block;
  text-indent:-9999em;
  overflow:hidden;
  margin:0 auto;
}
.download .feature_box h2 {
  margin-bottom:3.3rem;
}

/************* iphone 6************/
@media only screen and (max-width: 667px), only screen and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) {
  .download .download_link {
    width:17.4rem;
    height:5.9rem;
  }
  .download {
    padding:3rem 0;
  }

}