/****************HOME LATEST POSTS***************/
.hero {
  margin:0 auto 5.6rem;
  background-color:#fff;
  padding-top:7.8rem;
}
.hero .hero_image {
  position:absolute;
  top:2.7rem;
  right:11.6%;
}
.hero article {
  z-index:1;
  position:relative;
  width:37%;
  padding-top:34.2rem;
}
.hero .logo_date {
  display:flex;
  align-items:flex-end;
  justify-content:space-between;
  margin-bottom:1rem;
}
.hero .logo_date time {
  font-size:1.4rem;
  display:inline-block;
  text-align:right;
  vertical-align:middle;
  font-family:'Archer-Book', Courier, serif;
  font-weight:500;
  
}

.hero p {
  clear:both;
  font-size:2.6rem;
  line-height:3.3rem;
  margin-bottom:1.5rem;
  font-family:'Archer-Book', Courier, serif;
}
/************* small desktop ************/
@media only screen and (max-width : 768px) {
  .hero article {
    margin-left:2rem;
  }
  
}
/************* ipad ************/
@media only screen and (max-width : 768px), only screen and (min-device-width : 768px) and (max-device-width : 1024px), only screen and (min-device-width : 414px) and (-webkit-device-pixel-ratio: 3) {
  .hero .logo_date time {
    width:70%;
  }
  .hero .logo_date img {
    width:28%;
    height:auto;
    
  }

}
/************* ipad portrait************/
@media only screen and (max-width : 768px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation:portrait){
  
  .hero .hero_image {
    right:0;
  }
  .hero p {
    font-size:2rem;
    line-height:2.7rem;
  }
}

/************* iphone 6************/
@media only screen and (max-width: 667px), only screen and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) {
  .hero .hero_image {
    position:absolute;
    width:100%;
    right:0;
  }
  .hero article {
    width:90%;
    margin:0 auto;
    text-align:center;
    padding-top:40rem;
  }
  .hero .logo_date {
    display:block;
  }
  .hero .logo_date img {
    width:30%;
    height:auto;
    display:block;
    margin:0 auto 3rem;
  }
  .hero .logo_date time {
    display:block;
    float:none;
    text-align:center;
  }

}










