/****************HOME HERO***************/
.latest {
  border-top:1px solid #e8e6e2;
  border-bottom:1px solid #e8e6e2;
  padding:2.5rem 0 3.1rem;
}
.latest h2 {
  color:#999999;
  font-size:1.4rem;
  text-transform:uppercase;
  font-weight:bold;
  text-align:center;
  font-family:'HelveticaNeue-CondensedBold', Arial, sans-serif;
  margin-bottom:1.5rem;
}
.latest article {
  text-align:center;
}
.latest article img {
  display:block;
  margin:0 auto;
}
.latest article .logo_wrap {
  display:block;
  width:100%;
  border-right:1px solid #e8e6e2;
  padding:1rem 0;
}
.latest article:last-child .logo_wrap {
  border:none;
}
.latest article .read_more {
  font-size:1.2rem;
  text-align:center;
  display:inline-block;
}

/************* ipad landscape************/
@media only screen and (max-width: 1024px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation:landscape){
  .latest article .read_more span {
    display:none;
  }


}

/************* iphone 6************/
@media only screen and (max-width: 667px), only screen and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) {
  .latest .column {
    padding-left:10px;
  }
  .latest h2 {
    font-size:1.8rem;
  }
  .latest article img {
    width:65%;
    height:auto;
  }
  .latest article .read_more {
    font-size:1.6rem;
  }





}




